@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  background-color: #ca453c;
  width: 61%;
  height: 1px;
  border: 1px solid #ca453c;
}

h1 {
  font-size: 2em;
  line-height: 2em;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.7em;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.5em;
}

h5 {
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.5em;
}

h6 {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
}

p {
  line-height: 1.4em;
}

b {
  color: #777;
  font-weight: 500;
}

body,
.wrap {
  min-height: 100%;
}

body {
  background: #eceaea;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.46);
  background: #FFF;
  max-width: 1920px;
  margin: auto;
}

.wrap .heder__mainmenu {
  padding: 10px;
  background-color: #ca453c !important;
  overflow: hidden;
  z-index: 50;
}

.wrap .heder__mainmenu .heder__ul_items li a {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #fff;
}

.wrap .heder__mainmenu .container button {
  position: absolute;
  top: 20px;
  right: 30px;
}

.wrap .heder__mainmenu .container div li a {
  font-size: 1em;
}

.wrap .heder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 410px;
  background: url("/gfx/pic/IDbIu-1.jpg") center no-repeat;
}

.wrap .heder .heder__leftimg {
  flex-grow: 1;
}

.wrap .heder .heder__leftimg .heder__logo-block {
  display: flex;
  flex-direction: row;
  margin: 53px 0 0 9%;
  position: relative;
}

.wrap .heder .heder__leftimg .heder__logo-block a {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 60;
}

.wrap .heder .heder__leftimg .heder__logo-block .heder__logo {
  margin-top: 7px;
  z-index: 55;
}

.wrap .heder .heder__leftimg .heder__logo-block .heder__logo img {
  width: 111px;
}

.wrap .heder .heder__leftimg .heder__logo-block .heder__logo-text {
  padding: 33px 0 0 17px;
  color: #fff;
  z-index: 55;
}

.wrap .heder .heder__leftimg .heder__logo-block .heder__logo-text h1 {
  font-size: 3.7em;
  font-weight: 400;
  line-height: 1em;
  color: #FFF;
  z-index: 55;
}

.wrap .heder .heder__leftimg .heder__logo-block .heder__logo-text p {
  font-size: 0.83em;
  line-height: 15pt;
  color: #FFF;
}

.wrap .heder .heder__content {
  width: 872px;
}

.wrap .heder .heder__content .header__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 415px;
}

.wrap .heder .heder__content .header__body .header__page-subject p {
  padding: 25px 40px 25px 40px;
  font-size: 1.1em;
  line-height: 20pt;
  text-align: center;
  color: #FFF;
}

.wrap .heder .heder__content .header__body .header__page-subject h2 {
  padding: 35px 40px 16px 40px;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  color: #FFF;
}

.wrap .heder .heder__content .header__body .header__page-subject h4 {
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
  color: #FFF;
}

.wrap .heder .heder__content .header__body .header__page-subject hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.wrap .heder .heder__content .header__body .header__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px;
}

.wrap .heder .heder__content .header__body .header__icons div {
  height: 160px;
  padding: 0 20px;
}

.wrap .heder .heder__content .header__body .header__icons a {
  font-size: 1.2em;
  font-weight: 200;
  display: block;
  height: 100%;
  color: #FFF;
  text-shadow: 1px 1px 1px black, 0 0 1em #080000;
}

.wrap .heder .heder__content .header__body .header__icons .header__icons-reg {
  background: url("/gfx/icons/1(1).png") center no-repeat;
  background-size: 48px;
}

.wrap .heder .heder__content .header__body .header__icons .header__icons-write {
  background: url("/gfx/icons/2(2).png") center no-repeat;
  background-size: 62px;
}

.wrap .heder .heder__content .header__body .header__icons .header__icons-voite {
  background: url("/gfx/icons/3(3).png") center no-repeat;
  background-size: 55px;
}

@media (max-width: 991.98px) {
  .wrap .heder__mainmenu {
    position: absolute;
    min-height: 88px;
    width: 100%;
    top: 0;
  }

  .wrap .heder__mainmenu .container {
    margin-top: 70px;
  }

  .wrap .heder__mainmenu .container button {
    margin-top: 6px;
  }

  .wrap .heder__mainmenu .container div ul li {
    padding: 10px;
  }

  .wrap .heder__mainmenu .container div ul li a {
    font-size: 1.4em;
  }

  .wrap .heder {
    height: 58px;
  }

  .wrap .heder .heder__leftimg .heder__logo-block {
    justify-content: start;
    margin: 7px 15px;
  }

  .wrap .heder .heder__leftimg .heder__logo-block .heder__logo {
    width: 50px;
  }

  .wrap .heder .heder__leftimg .heder__logo-block .heder__logo img {
    width: 50px;
  }

  .wrap .heder .heder__leftimg .heder__logo-block .heder__logo-text {
    padding: 8px !important;
  }

  .wrap .heder .heder__leftimg .heder__logo-block .heder__logo-text h1 {
    font-size: 1.7em !important;
    margin: 15px 0 0 10px;
  }

  .wrap .heder .heder__leftimg .heder__logo-block .heder__logo-text p {
    display: none;
    font-size: 0.5em !important;
    line-height: 12pt;
  }

  .wrap .heder .heder__leftimg .heder__logo-block a {
    right: 100px;
    position: absolute;
    width: 100%;
  }

  .wrap .heder .heder__content {
    width: 0px;
    background: none;
  }

  .wrap .heder .heder__content .header__body .header__page-subject {
    display: none;
  }

  .wrap .heder .heder__content .header__body .header__icons {
    display: none;
  }

  .wrap .heder .heder__content .header__body .heder__mainmenu ul {
    margin: 30px 0 0px 0;
  }

  .wrap .heder .heder__content .header__body .heder__mainmenu ul li {
    padding-bottom: 10px;
  }
}

@media (max-width: 767.98px) {
  .wrap .heder .heder__content .heder__mainmenu ul {
    margin-top: 60px !important;
  }

  .wrap .heder .heder__content .heder__mainmenu ul li {
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .wrap .heder__mainmenu .container div li a {
    font-size: 0.9em !important;
  }

  .wrap .heder {
    height: 112px !important;
  }

  .wrap .heder .heder__leftimg .heder__logo-block {
    justify-content: center;
  }

  .wrap .heder .heder__leftimg .heder__logo-block .heder__logo-text a {
    right: 0 !important;
  }

  .wrap .heder .heder__content .heder__mainmenu {
    padding: 70px 0 0 0 !important;
    justify-content: center;
  }

  .wrap .heder .heder__content .heder__mainmenu .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .wrap .heder__mainmenu .container div li a {
    font-size: 0.8em;
  }

  .wrap .heder .heder__leftimg .heder__logo-block {
    margin: 93px 0 0 20px !important;
    flex-direction: column !important;
  }

  .wrap .heder .heder__leftimg .heder__logo-block .heder__logo-text {
    max-width: 257px !important;
  }

  .wrap .heder .heder__leftimg .heder__logo-block .heder__logo-text h1 {
    font-size: 1.4em !important;
  }

  .wrap .heder .heder__leftimg .heder__logo-block .heder__logo-text p {
    font-size: 0.6em !important;
  }
}

@media (min-width: 1199.98px) and (max-width: 1500px) {
  .wrap .heder__mainmenu .container div li a {
    font-size: 0.9em;
  }

  .wrap .heder .heder__leftimg .heder__logo-block {
    margin: 73px 0 0 30px !important;
    flex-direction: column !important;
  }

  .wrap .heder .heder__leftimg .heder__logo-block .heder__logo-text h1 {
    font-size: 2em !important;
  }

  .wrap .heder .heder__leftimg .heder__logo-block .heder__logo-text p {
    font-size: 0.6em !important;
    max-width: 300px !important;
  }
}

@media (min-width: 1500px) {
  .wrap .heder .heder__leftimg .heder__logo-block {
    max-width: 573px;
  }

  .wrap .heder .heder__content .heder__mainmenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .wrap .heder .heder__content .heder__mainmenu .container {
    justify-content: end !important;
  }

  .wrap .heder .heder__content .heder__mainmenu .container button {
    position: absolute;
    top: 20px;
    right: 30px;
  }

  .wrap .heder .heder__content .header__body .heder__mainmenu ul {
    margin: 30px 0 0px 0;
  }

  .wrap .heder .heder__content .header__body .heder__mainmenu ul li {
    padding-bottom: 10px;
  }
}

.wrap .header-mini {
  height: 54px !important;
  overflow: hidden;
}

.wrap .header-mini .heder__leftimg .heder__logo-block {
  justify-content: start;
  margin: 0 0 0 20px !important;
}

.wrap .header-mini .heder__leftimg .heder__logo-block .heder__logo {
  width: 35px;
}

.wrap .header-mini .heder__leftimg .heder__logo-block .heder__logo img {
  width: 35px;
}

.wrap .header-mini .heder__leftimg .heder__logo-block .heder__logo-text {
  padding: 10px !important;
  padding: 0 !important;
}

.wrap .header-mini .heder__leftimg .heder__logo-block .heder__logo-text h1 {
  font-size: 1.4em !important;
  margin: 18px 0 0 10px !important;
}

.wrap .header-mini .heder__leftimg .heder__logo-block .heder__logo-text p {
  display: none;
  font-size: 0.5em !important;
  line-height: 12pt;
}

.wrap .header-mini .heder__leftimg .heder__logo-block a {
  right: 100px;
  position: absolute;
  width: 100%;
}

.wrap .header-mini hr .header__body,
.wrap .header-mini .heder__content .header__body {
  display: none;
}

.wrap .content {
  padding: 60px 0;
  min-height: 500px;
}

.wrap .content .maincat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1500px;
  margin: 17px auto;
}

.wrap .content .maincat .maincat__block {
  margin: 10px 10px 60px 10px;
  width: 227px;
  height: 283px;
}

.wrap .content .maincat .maincat__block div {
  overflow: hidden;
}

.wrap .content .maincat .maincat__block a {
  position: relative;
  display: block;
  color: #000;
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
}

.wrap .content .maincat .maincat__block span {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  line-height: 1.6em;
  position: absolute;
  top: 0;
  width: 174px;
  height: 110px;
  text-align: center;
  padding: 6px;
  background-color: #eeeeee;
  margin-top: -13px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.wrap .content .maincat:hover .maincat__block:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Параметры тени */
}

.wrap .content .reports {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  max-width: 1498px;
  margin: 0 auto;
}

.wrap .content .reports .reports__report {
  display: flex;
  flex-direction: column;
  padding: 0 30px 55px 30px;
  width: 33.333%;
  min-width: 350px;
}

.wrap .content .reports .reports__report a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.wrap .content .reports .reports__report a:hover {
  text-decoration: none;
}

.wrap .content .reports .reports__report .reports__photo {
  overflow: hidden;
}

.wrap .content .reports .reports__report .reports__photo img {
  width: 100%;
}

.wrap .content .reports .reports__report .reports__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 41px;
  position: relative;
}

.wrap .content .reports .reports__report .reports__header .reports__header-name {
  padding: 11px;
  color: #000;
  font-size: 0.9em;
  font-weight: 300;
}

.wrap .content .reports .reports__report .reports__header .reports__header-date {
  padding: 11px;
  color: #000;
  font-size: 0.9em;
  font-weight: 300;
  position: absolute;
  top: 0;
  right: 46px;
}

.wrap .content .reports .reports__report .reports__header .reports__status-finished,
.wrap .content .reports .reports__report .reports__header .reports__status-inprocess {
  height: 41px;
  width: 41px;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.wrap .content .reports .reports__report .reports__header .reports__status-finished {
  background-color: #416b2b;
  background-image: url("/gfx/icons/finished.png");
}

.wrap .content .reports .reports__report .reports__header .reports__status-inprocess {
  background-color: #b54f4f;
  background-image: url("/gfx/icons/inproces.png");
}

.wrap .content .reports .reports__report .reports__subject {
  padding: 12px;
}

.wrap .content .reports .reports__report .reports__subject h4 {
  color: #000;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 24px;
}

.wrap .content .reports .reports__report .reports__subject p {
  color: #000;
  font-size: 0.9em;
  font-weight: 300;
  margin-top: 16px;
  line-height: 18px;
}

@media (max-width: 575.98px) {
  .wrap .content .reports .reports__report {
    width: 100% !important;
    padding: 0 5px 30px 5px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .wrap .content .reports .reports__report {
    width: 100% !important;
    padding: 0 7px 30px 7px !important;
  }
}

@media (min-width: 768px) and (max-width: 1054.98px) {
  .wrap .content .reports .reports__report {
    width: 50% !important;
    padding: 0 7px 30px 7px !important;
  }
}

@media (min-width: 1055px) and (max-width: 1199.98px) {
  .wrap .content .reports .reports__report {
    width: 33.333%;
    padding: 0 7px 30px 7px !important;
  }
}

.wrap .content .specform {
  max-width: 992px;
  margin: 47px auto;
}

.wrap .content .specform .specform__loginblock {
  margin-bottom: 52px;
  border: 1px solid #ccc;
}

.wrap .content .specform .specform__loginblock .specform__header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  padding: 20px 0 17px 36px;
}

.wrap .content .specform .specform__loginblock .specform__header h3 {
  color: #000;
  font-size: 1.9em;
  font-weight: 500;
  cursor: pointer;
}

.wrap .content .specform .specform__loginblock .specform__header .specform__arrclose,
.wrap .content .specform .specform__loginblock .specform__header .specform__arropen {
  margin-left: 15px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.wrap .content .specform .specform__loginblock .specform__header .specform__arrclose {
  margin-top: 11px;
  background-image: url("/gfx/icons/keyboard-arrow-right_117118.png");
}

.wrap .content .specform .specform__loginblock .specform__header .specform__arropen {
  margin-top: 10px;
  background-image: url("/gfx/icons/keyboard-arrow-right_117118.png");
  transform: rotate(90deg);
}

.wrap .content .specform .specform__loginblock a:hover {
  text-decoration: none;
}

.wrap .content .specform .specform__loginblock .specform__body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 36px 27px 36px;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__formitem {
  width: 100%;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__formitem input,
.wrap .content .specform .specform__loginblock .specform__body .specform__formitem textarea,
.wrap .content .specform .specform__loginblock .specform__body .specform__formitem select {
  width: 100%;
  margin: 24px 0;
  border: none;
  border-bottom: 1px solid #555;
  font-size: 1.3em;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__formitem textarea {
  height: 200px;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__formitem select {
  background-color: #fff;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__formitem input:focus {
  border: none;
  border-bottom: 3px solid #555;
  margin: 24px 0 22px 0;
  outline: none;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__formitem button {
  outline: none;
  border: none;
  padding: 10px 20px;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__formfile input {
  border-bottom: 0px !important;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__formitem-half {
  width: 48%;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__formitem-checkbox {
  display: flex;
  flex-direction: row;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__formitem-checkbox input {
  cursor: pointer;
  left: 0;
  width: 30px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  transition: 0.2s;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__formitem-checkbox span {
  padding: 30px 10px;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__formitem-submit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__formitem-submit button {
  text-transform: uppercase;
  background-color: #ca453c;
  color: #fff;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__formitem-submit button:hover {
  text-transform: uppercase;
  background-color: #ca453c;
}

.wrap .content .specform .specform__loginblock .specform__body .specform__map #map {
  width: 100%;
  height: 500px;
}

@media (max-width: 575.98px) {
  .wrap .content .reports .reports__report {
    width: 100% !important;
    padding: 0 10px 25px 10px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .wrap .content .reports .reports__report {
    width: 100% !important;
    padding: 0 10px 30px 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .wrap .content .reports .reports__report {
    width: 50% !important;
    padding: 0 10px 40px 10px !important;
  }
}

.wrap .content .singlereport {
  margin: 11px auto;
  max-width: 1498px;
}

.wrap .content .singlereport .singlereport__report {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.wrap .content .singlereport .singlereport__report .singlereport__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 59px;
  position: relative;
}

.wrap .content .singlereport .singlereport__report .singlereport__header .singlereport__header-name {
  padding: 19px 10px 0 56px;
  color: #000;
  font-size: 1.4em;
  font-weight: 400;
}

.wrap .content .singlereport .singlereport__report .singlereport__header .singlereport__header-date {
  display: flex;
  flex-direction: row;
}

.wrap .content .singlereport .singlereport__report .singlereport__header .singlereport__header-date span {
  padding: 19px 10px 0 0px;
  color: #000;
  font-size: 1.4em;
  font-weight: 300;
  right: 86px;
}

.wrap .content .singlereport .singlereport__report .singlereport__header .singlereport__header-date .singlereport__status-finished,
.wrap .content .singlereport .singlereport__report .singlereport__header .singlereport__header-date .singlereport__status-inprocess {
  height: 59px;
  width: 59px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.wrap .content .singlereport .singlereport__report .singlereport__header .singlereport__header-date .singlereport__status-finished {
  background-color: #416b2b;
  background-image: url("/gfx/icons/finished.png");
}

.wrap .content .singlereport .singlereport__report .singlereport__header .singlereport__header-date .singlereport__status-inprocess {
  background-color: #b54f4f;
  background-image: url("/gfx/icons/inproces.png");
}

.wrap .content .singlereport .singlereport__report .singlereport__photo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wrap .content .singlereport .singlereport__report .singlereport__photo .singlereport__pic {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
  height: 350px;
}

.wrap .content .singlereport .singlereport__report .singlereport__photo .singlereport__pic img {
  height: 350px;
}

.wrap .content .singlereport .singlereport__report .singlereport__photo .singlereport__map {
  flex-grow: 1;
  min-width: 300px;
  height: 350px;
  margin: 30px;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject {
  padding: 0 53px;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject h3 {
  color: #000;
  font-size: 1.9em;
  font-weight: 500;
  padding: 0 0 16px 0;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject h4 {
  color: #000;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 0;
  text-transform: uppercase;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject h5 {
  color: #000;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 0;
  text-transform: uppercase;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject p {
  color: #000;
  font-size: 1.3em;
  font-weight: 400;
  margin: 16px 0;
  line-height: 27px;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject hr {
  width: 100%;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject ul,
.wrap .content .singlereport .singlereport__report .singlereport__subject ol {
  margin: 10px 0;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject ul li,
.wrap .content .singlereport .singlereport__report .singlereport__subject ol li {
  margin-left: 19px;
  padding-left: 5px;
  line-height: 1.8em;
  list-style-type: decimal;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject ul ul,
.wrap .content .singlereport .singlereport__report .singlereport__subject ul ol,
.wrap .content .singlereport .singlereport__report .singlereport__subject ol ul,
.wrap .content .singlereport .singlereport__report .singlereport__subject ol ol {
  margin-left: 19px;
  padding-left: 5px;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 36px 27px 36px;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem {
  width: 100%;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem input,
.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem textarea,
.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem select {
  width: 100%;
  margin: 24px 0;
  border: none;
  border-bottom: 1px solid #555;
  font-size: 1.3em;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem textarea {
  height: 200px;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem select {
  background-color: #fff;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem input:focus {
  border: none;
  border-bottom: 3px solid #555;
  margin: 20px 0 22px 0;
  outline: none;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem button {
  outline: none;
  border: none;
  padding: 10px 20px;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formfile input {
  border-bottom: 0px !important;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem-half {
  width: 48%;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem-checkbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem-checkbox input {
  cursor: pointer;
  left: 0;
  width: 30px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  transition: 0.2s;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem-checkbox span {
  padding: 30px 10px;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem-submit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem-submit button {
  text-transform: uppercase;
  background-color: #ca453c;
  color: #fff;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__body .singlereport__formitem-submit button:hover {
  text-transform: uppercase;
  background-color: #ca453c;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__attache {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-bottom: 22px;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__attache a {
  max-width: 20%;
  background-color: #fff;
  padding: 0.3%;
  flex-basis: 300px;
  flex-grow: 1;
}

.wrap .content .singlereport .singlereport__report .singlereport__subject .singlereport__attache a img {
  width: 100%;
}

@media (max-width: 575.98px) {
  .wrap .content .singlereport .singlereport__report .singlereport__subject h3 {
    font-size: 1.4em;
  }

  .wrap .content .singlereport__attache a {
    max-width: 50% !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .wrap .content .singlereport__attache a {
    max-width: 33.3333% !important;
  }
}

.wrap .content .links {
  background-color: #edeeee;
  padding: 10px 0;
}

.wrap .content .links .links__carusel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 1500px;
}

.wrap .content .links .links__carusel .links__item {
  flex: 1 1 10px;
  min-width: 267px;
  position: relative;
}

.wrap .content .links .links__carusel .links__item .links__icon {
  width: 80px;
  height: 80px;
  padding-top: 15px;
  text-align: center;
  background: #fff;
  margin: 10px auto;
  border-radius: 80px;
}

.wrap .content .links .links__carusel .links__item .links__icon img {
  width: 43px;
}

.wrap .content .links .links__carusel .links__item a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.wrap .content .links .links__carusel .links__item .links__sumject {
  text-align: center;
}

.wrap .content .links hr {
  width: 95% !important;
  max-width: 1500px !important;
  height: 0px !important;
}

.wrap .footer {
  background-color: #ca453c;
  min-height: 250px;
  padding-top: 20px;
  border-top: 6px solid #a74039;
  overflow: hidden;
}

.wrap .footer .footer_body {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrap .footer .footer_body .footer__block {
  width: 300px;
  flex-grow: 1;
  padding: 20px;
}

.wrap .footer .footer_body .footer__block h3 {
  padding: 20px 0 0 0;
}

.wrap .footer .footer_body .footer__block a {
  display: block;
  color: #ddd;
  margin: 10px 0;
  line-height: 1.3em;
}

.wrap .footer .footer_body .footer__social {
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.wrap .footer .footer_body .footer__social img {
  margin-left: 10px;
  width: 30px;
}

.wrap .footer .footer__licenses {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  max-width: 1100px;
}

@media (min-width: 992px) {
  #button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s;
    z-index: 1000;
    background-image: url(/gfx/icons/keyboard-arrow-right_117118.png);
    transform: rotate(270deg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
  }

  #button:hover {
    cursor: pointer;
    background-color: #333;
  }

  #button:active {
    background-color: #555;
  }
}

.listhistoru ul li {
  flex-direction: column;
}

.listhistoru .singlereport__attache {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.listhistoru .singlereport__attache a {
  background-color: #fff;
  padding: 0.3%;
  flex-basis: 300px;
  flex-grow: 1;
  max-width: 30%;
}

.listhistoru .singlereport__attache a img {
  width: 100%;
}

.breadcrumbs {
  display: flex;
  max-width: 1500px;
  flex-direction: row;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
}

.breadcrumbs .breadcrumbs__item {
  padding: 0 10px;
}

.no_show {
  display: none;
}

.js_status_button {
  cursor: pointer;
}

